body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header{
    background-image: url(img/img/studio.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    opacity: 0.7;
}
.headertitle{
    display: flex;
    justify-content: center;
    font-size: xx-large;
}
.headertitle>h1{
    text-shadow: 4px 4px 4px grey;
}
.button-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
.button-header>button{
    color: white;
    height: 60px;
    width: 300px;
    font-size: 35px;
    border-radius: 5px;
    border: 0;
    margin: 15px;
    margin-top: 10px;
    cursor: pointer;
    opacity: 0.9; 
}
.btn-about{
    background-color: rgb(238, 184, 83); 
    transition: 0.3s;
}
.btn-about:hover{
    background-color: orange;
    box-shadow:  0 0 10px 10px rgb(247, 183, 66);
    font-size: 50px;
}
.btngallery{
    background-color: rgb(105, 172, 218);
    transition: 0.3s;
}
.btngallery:hover{
    background-color: rgb(28, 145, 223);
    box-shadow: 0 0 10px 10px rgb(77, 174, 238);
    font-size: 50px;
}
.btn-blog{
    background-color: rgb(186, 236, 92);
    transition: 0.3s;
}
.btn-blog:hover{
    background-color:  rgb(116, 170, 15);
    box-shadow: 0 0 10px 10px  rgb(136, 184, 49);
    font-size: 50px;
}
@media (max-width: 640px){
    .headertitle>h1{
       font-size: 50px;
    }
    .button-header>button{
        height: 60px;
        width: 350px; 
    }
}

/* section */

.aboutAnna{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(226, 222, 222);   
}
.textAnna{
    margin: 20px 50px 20px 70px;
    font-size: 20px;
    text-align: justify;
}
.textAnna>h2{
    font-size: 50px;
}
.photoAnna{
    background-image: url(img/img/myphoto.jpg);
    height: 90vh;
    width: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    border-radius: 100%;
    margin: 30px 20px 15px 30px;
}
.photoAnna1{
    border-left: 1px solid black;
}
@media(max-width: 640px){
    .textAnna>h2{
        font-size: 40px;
    }
    .textAnna{
        font-size: 18px;
        margin: 20px 40px 10px 40px;
    }
    .photoAnna{
        height: 85vh;
        width: 85%;
        margin: 10px 30px 10px 30px;   
    }
}
@media(max-width: 900px){
    .aboutAnna{
        grid-template-columns: 1fr;
    }
    .photoAnna1{
        display: flex;
        justify-content: center;
        align-items: center;
        border-left: none;
    }
   
    .photoAnna{
        margin-top: 5px;
        width: 80vh;
        height: 80vh;
       
    }
}
/* Gallery photos */

.titleh2{
    color: gray;
    margin-top: 40px;
    margin-left: 70px;
    font-size: 50px;
}
.galleryGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "item1 item1 item2"
    "item3 item4 item4"
    "item5 item5 item6"
    "item5 item5 item7"
    "item8 item8 item8";
    gap: 10px;
}
.galleryphoto{
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;
    opacity: 0.7;
    transition: 0.3s;
}
.item1{
    background-image: url(img/img/11.jpg);
    grid-area: item1;  
}
.item2{
    background-image: url(img/img/22.jpg);
    grid-area: item2;
}
.item3{
    background-image: url(img/img/33.jpg);
    grid-area: item3;
}
.item4{
    background-image: url(img/img/77.jpg);
    grid-area: item4;
}
.item5{
    background-image: url(img/img/55.jpg);
    grid-area: item5;
    height: 510px;
}
.item6{
    background-image: url(img/img/66.jpg);
    grid-area: item6;
}
.item7{
    background-image: url(img/img/44.jpg);
    grid-area: item7;
}
.item8{
    background-image: url(img/img/88.jpg);
    grid-area: item8;
}
.galleryphoto:hover{
    opacity: 1;
    font-size: 50px;
    color: rgb(255, 72, 0);
    text-shadow: 3px 3px 3px gray, 3px 3px 3px rgb(241, 191, 96);
}
@media(max-width: 900px){
    .galleryGrid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "item1 item2"
        "item3 item4"
        "item5 item6"
        "item7 item8";
        gap: 8px;
    }
    .item5{
        height: 250px;
    }
}
@media(max-width: 600px){
    .galleryGrid {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8";
        gap: 5px;
    }
}

/* cardGrid */

.cardGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "card1 card2 card3 card3"
    "card4 card4 card5 card6";
    gap: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}
.card6{
    grid-area: card6;
}
.cardimg{
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.cardGridChild{
    height: 300px;
    background-color: rgb(226, 222, 222);
}
.card1>.cardimg{
    background-image: url(img/img/11.jpg);
}
.card2>.cardimg{
    background-image: url(img/img/22.jpg);
}
.card5>.cardimg{
    background-image: url(img/img/66.jpg);
}
.card6>.cardimg{
    background-image: url(img/img/44.jpg);
}
.texCard{
    color: gray;
    margin: 15px;
    font-size: 13px;
    text-align: center;
}
iframe{
    width: 100%; 
    height: 100%;
}

@media(max-width: 900px){
    .cardGrid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "card1 card2"
        "card3 card3"
        "card4 card4"
        "card5 card6";
        gap: 8px;
    }
    .texCard>p {
        visibility: hidden
    }
    .texCard>h3{
        font-size: 20px;
    }
    .cardGridChild{
        height: 210px;
    }
    .cardGrid{
        margin-left: 0px;
        margin-right: 0px;
    }
    .texCardGoogl {
        padding-top: 0px;
    }
}
@media(max-width: 700px){
    .cardGrid{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6";
        gap: 8px;
    }
}

.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px; 
    
}
.btn-bottom {
    height: 60px;
    width: 200px;
    color: white;
    background-color: rgb(172, 248, 48);
    font-size: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 4px 4px 5px rgb(195, 241, 119);
}
 /* footer */

 footer{
    background-color: grey;
    color: white;
 }
 .titleFooter>h3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-size: 40px;
 }
 form{
     background-color: rgb(158, 154, 154);
     margin-left: 50px;
     margin-right: 50px;
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-around;
 }
.footer-form{
    height: 30px;
    width: 180px;
    margin: 20px;
    background-color: rgb(206, 202, 202);
    border: none;
    font-style: italic;
    text-align: start;
}

form>.btn{
    box-shadow: 2px 2px 4px rgb(86, 86, 250);
}
.sosial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.sosial>img{
    width: 30px;
    height: 30px;
    margin: 20px 10px 30px 10px;
}
@media(max-width: 1100px){
    .footer-form{
        width: 80%;
        margin: 20px;
    }  
    .form{
        flex-direction: column;
    }  
}


